@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins"
}

body {
    margin: 0;
}

.container__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green;
    border-bottom: 1px solid grey;
    padding: 1em;
}

.lista__nav ol {
    display: flex;
    justify-content: space-between;
    width: 50em;
    border: 1px solid red;
    align-items: center;
}

li {
    list-style-type:none;
}

.lista__nav button {
    background-color: rgb(255, 255, 119);
    padding: 1em;
    width: 10em;
}

.amarelo, .container__sobre{
    display: flex;
    border: 1px solid red;
    margin: 5em;
    padding: 2em;
    gap: 2em;
}

.container__esquerda {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 1px solid blue;
}

.container__esquerda h1 {
    color: rgb(119, 201, 226);
}

.container__esquerda p {
    text-align: justify;
    margin-right: 2em;
}

.container__esquerda button {
    background-color: rgb(255, 255, 119);
}

.amarelo__foto img {
    width: 600px;
}

.container__infos__sobre {
    gap: 1em;
    border: 1px solid rgb(94, 94, 94);
}

.fotos__sobre img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.container__infos__sobre {
    display: flex;
    flex-direction: column;
}

.acoes {
    width: 99.5%;
    border: 1px solid red;
}

.introducao__acoes {
    text-align: center;
    width: fit-content;
    border: 1px solid green;
    margin: 0 10em;
}

.container__acoes {
    display: flex;
    border: 1px solid rgb(100, 85, 85);
}

.container__itens__acoes {
    display: flex;
    border: 1px solid green;
    font-size: 12px;
    margin: 3em 5em;
    gap: 2em;
}

.container__itens__acoes img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 1em;
}

.item__infos {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 20vh;
}

.logo__footer button {
    background-color: yellow;
    width: 10em;
}

.lista__footer ol {
    display: flex;
    justify-content: space-around;
    margin: 4em 0;
}

.social__icons {
    display: flex;
    justify-content: center;
}